
    #wrapper{
        padding:0;
    }

#tab1{
	background-image: url("../Resources/MainPage/SLIDER---latime.png");
	margin-bottom: 0;
        background-color: white;
        height: 575px;
}

#text{
    margin-top: 22%;
    font-size: 30px;
}

#tab2{
	
	margin-bottom: 0;
        height: 300px;
        padding: 0;
        background-color: white;
}

#tab2 div{
	width: 50%;
	height: 100%;
	text-align: center;
}
#logo{
    background: url("../Resources/Header/LOGO-mare.png") center center no-repeat;
    height: 150px;
    width: 50%;
    margin-left: 25%;
    position: relative;
    z-index: 10;
    
}
#playButton{
    background: url("../Resources/Buttons/BUTTON---PLAY.png") center center no-repeat;
    height: 50%;
    width: 50%;
    margin-left: 25%;
    position: relative;
    z-index: 10;
}

#elem1{
	float: left;
        background-image: url("../Resources/MainPage/Jumatate---MESAJ.png");
}
#elem2{
	float: right;
}
#tab3{
   background-image: url("../Resources/MainPage/Background-echipa.png");
	margin-bottom: 0;

}

#tab3l{
   text-decoration: none;
   padding: 14px 25px;
   display: inline-block;
   border: 1px solid black;
   color: black;
   text-align: center;
}

#tab3l:hover{
    background-color: #100b3d;
    color: white;
}

.cols-hp {
    padding: 15px;
    margin-bottom: 20px;
    display: block;
    text-align: left;
    min-height: 380px; 
    position: relative; 
    text-align: justify;       
    background-color: #66ccff;
    overflow: overlay;
}

.fix-clear{
	clear: both;
	line-height: 1px;
	margin-bottom: 1px;
}


#tab4{
	margin-bottom: 0;
        background-color: #fff;
   
}


#tab5{
	background-color: white;
	margin-bottom: 0;
        padding: 0;
}

#c1{
    float: left;
    width: 50%;
    background-color: #b3b3ff;
}

#c2{
    float: right;
    width: 50%;
    background-color: #100b3d;
    color: white;
    height: 100%;
    margin: 0;
}

#act{
    color:white;
}
#act:hover{
    color:#100b3d;
    background-color: white;
}

#act2:hover{
    background-image: url("../Resources/MainPage/Background-echipa.png");
    color: white;
}
#act3:hover{
    background-image: url("../Resources/MainPage/Background-echipa.png");
    color: white;
}
#act4:hover{
    background-image: url("../Resources/MainPage/Background-echipa.png");
    color: white;
}
#tab6{
	background-color: white;
        color: #100b3d;
	margin-bottom: 0;
        padding: 0;
}

#act2{
    color: #100b3d;
}

#act2:hover{
    background-color: #100b3d;
    color: white;
}
#ut1{
    width: 50%;
    float: left;
    padding:20px;
}

#ut2{
    width: 50%;
    float: right;
    background-color: gray;
    color: black;
    padding: 20px;
}

#tab7{
	background-color: #100b3d;
	margin-bottom: 0;
        color: white;
        width: 100%;
}

#contact{
    width: 33%;
    margin-left: 33%
}
