@media screen and (max-width: 790px) {
    #c1 {
        width: 100%;
        height: auto !important;
    }
    #c2 {
        width: 100%;
        height: auto !important;
    }
    #ut1 {
        width: 100%;
        height: auto !important;
    }
    #ut2 {
        width: 100%;
        height: auto !important;
    }
    #ut2 center {
    	margin-top: 20px!important;
    }
    #c2 center {
    	margin-top: 20px!important;
    }
    #contact {
    	width: 100%;
    	margin-left: 0px;
    	padding-left: 40px;
    	padding-right: 40px;
    }
    .center-img {
    	display: block;
    	margin: 0 auto;
    }
}
