%h1 {
  font-size: px-to-em($h1);
  line-height: 1.2em;
  letter-spacing: 0.05em;
  font-weight: $h2-weight;
}

%h2 {
  font-size: px-to-em($h2);
  line-height: 1.25em;
  font-weight: $h2-weight;
}

%h3 {
  font-size: px-to-em($h3);
  line-height: 1.25em;
  letter-spacing: 0.025em;
  font-weight: $h3-weight;
}

%h4 {
  font-size: px-to-em($h4);
  line-height: 1.3em;
  @include transition(.2);
  letter-spacing: 0.025em;
  font-weight: $h4-weight;
}

%h5 {
  font-size: px-to-em($h5);
  line-height: 1.3em;
  letter-spacing: 0.01em;
  font-weight: $h5-weight;
}

%h6 {
  font-size: px-to-em($h6);
  line-height: 1.37em;
  font-weight: $h6-weight;
}